<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Question </title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css" />
</head>
<body >
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
            <a class="nav-item nav-link" id="learn" href="/learn">Learn</a>
          <a class="nav-item nav-link" id="subject" href="/subject">Exam</a>
          <a class="nav-item nav-link" id="result" href="/result">Result</a>
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        </div>
      </div>
    </nav>

{% if words %}
    <table border=3 width=80%" align="center"><tbody>
        <tr>
            <th>Question</th>
            <th>Answer</th>

        </tr>
{% for row in words %}
        <tr>
            <td><label>{{ row.question }}</label></td>
            <td><label>{{ row.answer }}</label></td>
        </tr>
{% endfor %}
     </tbody></table></br>
{% endif %}
</body>
</html>

